<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit show</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>

	<h1>Edit show</h1>
	<form action="#" th:action="@{/addshow}"  th:object= ${show} method="post">
	<input type="hidden" th:field="*{id}" class="form-control"/>
	<p>Title: <input type="text" th:field="${show.title}" /></p>
	<p>Description: <textarea rows="4" cols="50" th:field="${show.description}" /></textarea></p>
	<p>Category:
	<select id="categoryList" th:field="*{category}" class="form-control">
	<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}">
	</option></select></p>
	<input type="submit" class="btn btn" value="Save" /> <input type="reset" value="Reset" class="btn" />
	</form>

</body>
</html>